<div class="container">
    {{> header}}
    <div>
        <h1>About Page</h1>
        {{#if loggedIn}}
            <p>Welcome {{username}}!</p>
        {{else}}
            <p>Welcome guest!</p>
        {{/if}}
        <p>You can save your training sessions in this website</p>
    </div>
</div>
{{> footer}}