<form action="#/add" method="post">
    <label for="type">Training type:</label>
    <input class="form-control" type="text" id="type" name="type"/>
    <label for="type">Date:</label>
    <input class="form-control" type="date" id="date" name="date"/>
    <label for="type">Description:</label>
    <input class="form-control" type="text" id="description" name="description"/>
    <input class="btn btn-default" type="submit" value="Add"/>
</form>